*
{
	margin: 0;
	padding: 0;
}

.item-row
{
	border-bottom: 1px solid #2A2A2A;
}

.item-option
{
	width: 100%;
	font-size: 22px;
	text-align: center;
	line-height: 55px;
	margin-top: 5px;
}

.strikethrough
{
	color: #ABABAB;
	text-decoration: line-through;
}