<div class="row item-row" ng-repeat="(key, item) in todo.items">
	<div class="col-xs-2" ng-click="checkOff(key, item, todo.items, true)"  ng-hide="item.checkedOff"><span class="glyphicon glyphicon-unchecked item-option"></span></div>
	<div class="col-xs-2" ng-click="checkOff(key, item, todo.items, false)"  ng-show="item.checkedOff"><span class="glyphicon glyphicon-check item-option"></span></div>
	<div class="col-xs-8">
		<h3 ng-hide="item.checkedOff">{{item.body}}</h3>
		<h3 ng-show="item.checkedOff" class="strikethrough">{{item.body}}</h3>
	</div>
	<div class="col-xs-2" ng-click="todo.items.$remove(key)"><span class="glyphicon glyphicon-remove item-option"></span></div>
</div>